<h1>Formulario de datos de usuario</h1>
<form action="/usuarios/formulario" method="post">
  <label for="nombre">Nombre:</label>
  <input type="text" id="nombre" name="nombre" />
  <label for="apellido">Apellido:</label>
  <input type="text" id="apellido" name="apellido" />
  <button type="submit">Enviar</button>
</form>
